<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UploadHub</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <style>
        .file-upload-container {
            margin-bottom: 2rem;
        }
        .uploaded-files-list {
            list-style: none;
            padding-left: 0;
        }
        .uploaded-file-item {
            margin-bottom: 0.5rem;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .uploaded-file-item button {
            margin-left: 1rem;
        }
    </style>
    <script>
        function confirmDelete(fileName) {
            return confirm('Are you sure you want to delete "' + fileName + '"?');
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>File Upload</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="files" multiple class="input">
            <button type="submit" class="button primary">Upload</button>
        </form>
        

        <h2>Uploaded Files</h2>
        <table class="uploaded-files-list">
   
            <tbody>
                {% for file in files %}
                    <tr class="uploaded-file-item">
                        <td><a href="{% url 'download_file' file.unique_id %}" class="button small">{{ file.original_name }}</a></td>
                        <td>
                            <form action="{% url 'delete_file' file.unique_id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="button small" onclick="return confirmDelete('{{ file.original_name }}');">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</body>
</html>
